.container {
  margin: 20px auto;
  font-family: Arial, sans-serif;
  padding: 20px;
  border-radius: 10px;
  
}
h1 {
  text-align: center;
  font: bold;
  color: #333;
  margin-bottom: 10px;
}
.field {
  margin-bottom: 20px;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 5px;
}

.textarea {
  resize: none;
}

.label {
  font-size: 16px;
  color: #555;
}

button {
  background-color: #f4bc36;
  color: hwb(0 100% 0%);
  margin-top: 20px;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-collapse: separate;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.search-con {
  margin-bottom: 20px;
}

.search-con input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.search-con button {
  padding: 10px 20px;
  background-color: #f4bc36;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.search-con button:hover {
  background-color: #d4a434;
}

.searched-mov {
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 150px;  
  overflow-y: auto;   
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
}

.movie-list {
  margin-top: 20px;
  margin-bottom: 40px;
}

.searched-mov p {
  margin: 0;
  padding: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searched-movie p:hover {
  background-color: #f1f1f1;
}
.poster {
  width: 1000px;
    height: 1000;
    margin-left: 200px;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: 8px;
    max-width: fit-content;
}
.cast-section {
  margin-top: 30px;
  background-color: #e9ecef;
  padding: 100px;
  border-radius: 10px;
  max-height: 300px;  
  overflow-y: auto; 
}

.cast-section h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 18px;
}

.cast-member {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.cast-member input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.content-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  
}

.cast-member button {
  background-color: #dc3545;
  color: white;
}

.cast-member button:hover {
  background-color: #c82333;
}
.cast-section button {
  margin-top: 10px;
  background-color: #28a745;
  color: white;
}

.cast-section button:hover {
  background-color: #218838;
}

@media (max-width: 600px) {
  .field input,
  .field textarea,
  .search-container input {
    font-size: 12px;
  }

  button {
    font-size: 12px;
    padding: 8px 10px;
  }

  .cast-member {
    flex-direction: column;
  }

  .cast-member input {
    margin-bottom: 10px;
  }
}
